extends:
  - '@rixo'

globals:
  setTimeout: true

overrides:
  - files: ["index.js", "cli.js", "rollup.config.js", "util.cjs"]
    env:
      node: true
      browser: true
  - files: ["lib/**/*", "test/**/*"]
    env:
      node: true
